.title{
    font-size: 13vw;
    text-transform: uppercase;
    line-height: .9em;
}

.desc{
    color: white;
}

.isologo{
    bottom: -19.1%;
    right: 10.1%;
    width: 200px;
}

.layerOpacity::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 32%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
}


@media screen and (max-width: 640px) {
    .title{
        font-size: 24vw;
        line-height: 1em;
        text-decoration: underline;
        margin-bottom: 10%;
    }

    .title span{
        font-size: 47vw;
        display: block;
        line-height: 1em;
    }

    .isologo{
        width: 70px;
        bottom: unset;
        top: 20px;
        left: 20px;
    }

    .cover{
        height: 250px;
        object-fit: cover;
        object-position: right center;
    }

    .desc{
        font-size: 12px;
    }
}