.title{
    font-size: 13vw;
    text-transform: uppercase;
}

.desc{
    color: white;
}

.isologo{
    bottom: -19.1%;
    right: 10.1%;
    width: 200px;
}

@media screen and (max-width: 640px) {
    .title{
        font-size: 35vw;
        line-height: 1em;
        text-decoration: underline;
        margin-bottom: 10%;
    }

    .title span{
        font-size: 47vw;
        display: block;
        line-height: 1em;
    }

    .isologo{
        width: 70px;
        bottom: unset;
        top: -45%;
        left: -20%;
    }
}