@import url("https://fonts.cdnfonts.com/css/qanelas");
@import url('https://fonts.cdnfonts.com/css/druk-trial');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --secondary-color: #e41279;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
  font-family: 'Qanelas', sans-serif;
  background: black;
}

h1, h2{
    font-family: 'Druk Cond Trial', sans-serif;
}

