.slash{
    opacity: 0;
    position: relative;
    left: -30px;
    transition: .5s;
    color: var(--secondary-color);
}

.name{
    font-size: 15vw;
    font-family: 'Druk Cond Trial', sans-serif;
    transition: .3s;
    line-height: 1em;
    left: -60px;
    position: relative;
}

.text{
    white-space: nowrap;
}

.description{
    opacity: 0;
    position: relative;
    right: -30px;
    transition: .5s;
    font-size: 12px;
    max-width: 500px;
}

.link:hover .name{
    color: var(--secondary-color);
    left: 0;
}

.link:hover .slash{
    opacity: 1;
    left: -0px;
}

.link:hover .description{
    opacity: 1;
    right: -0px;
}

.cover{
    border: 15px solid var(--secondary-color);
    border-width: 0px 15px;
    transform: skew(-10deg, -10deg) rotate(10deg);
    overflow: hidden;
    transition: .5s;
    width: 0px;
    height: 250px;
    opacity: 0;
}

.cover img{
    transform: skew(10deg, 10deg) rotate(-10deg) scale(1.8);
    width: 100%;
}

.link:hover .cover{
    width: 300px;
    opacity: 1;
}

@media screen and (max-width: 640px){
    .description{
        right: unset;
        display: none;
    }

    .name{
        left: unset;
    }
}